<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      >
<head>
<meta charset="utf-8"/>
<title>Converter</title>

 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css"/>
  <script src="https://jspm.io/system@0.18.17.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js"></script>
  <script> mocha.setup('bdd'); </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js"></script>

<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"  
th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css"  
th:href="@{/css/mystyle.css}" />

</head>
<body>

 <div id="mocha">
  <a target="_blank" href="https://www.mathsisfun.com/roman-numerals.html">Roman Number Rules</a></div>
  <script>
  System.config({
        paths: {
          'script.js': 'script.js',
          'script-test.js':'script-test.js' 
        }   
      });
      System.import('script-test.js').then(function() {
        mocha.run();
      });
  </script>


<div class="col-md-3 col-md-offset-4  spaceV">
	<div class="panel panel-primary">
		<div class= "panel-heading"> Conversion Tool</div>
			<div class="panel-body">
				<form th:action="@{/convert}" method="post">
					<div> 
						<div><label>You can convert to/from Roman Numerals here: </label></div>
						<div>
						<input type="text" name="number" th:value="${result}"/>
						<button type="submit" class="btn btn-primary"> Convert</button>
						</div>
						
						
					</div>
				</form>
				<div th:if="${out}" th:text="${out}"></div>
				<div th:if="${expmodel}" th:text="${expmodel.message}"></div>
			</div>
	</div>
</div>

<footer>
	<div class="navbar-fixed-bottom col-md-offset-4 ">
		
	</div>
</footer>

</body>
</html>